@model HealthWebApp.Models.Person.PersonDetailModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="clearfix">
            <h3 class="text-muted">Detail of @model.FullName</h3>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <div>First Name : @model.FullName ', ' @model.ExtensionName </div>
                    <div>Middle Name : @model.MiddleName </div>
                    <div>Last Name : @model.LastName </div>
                    <div>Birthdate : @model.DateOfBirth </div>
                    <div>Gender : @model.Sex </div>
                    <div>Civil Status : @model.CivilStatus</div>
                 </div>
                <div class="col-md-4">
                    <div>Contact # : @model.ContactNumber </div>
                    <div>Email Address : @model.EmailAddress</div>
                    <div>PhilHealth : @model.PhilHealthID</div>
                    <div>Father : @model.Father</div>
                    <div>Mother : @model.Mother</div>
                </div>
                <div class="col-md-4">
                    <div>Address : @model.Address</div>
                    <div>Barangay : @model.Barangay</div>
                    <div>City/Municipality : @model.City</div>
                    <div>Province : @model.Province</div>

                </div> 
            </div>

        </div>

    </div>
}